@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  width: 100%;
}

#logo {
  width: 5rem;
  height: 3.53rem;
  cursor: pointer;
}

.link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.link > a {
  margin-right: 4rem;
  padding: 1rem 0;
  font-size: 1.25rem;
}

.link > #dropdown {
  margin-right: 4rem;
  padding: 1rem 0;
  position: relative;
  font-size: 1.25rem;
  cursor: pointer;
}

.link > a:hover,
.link > #dropdown:hover {
  border-bottom: 2px solid black;
}

.link a:last-child {
  margin-right: 0;
}

#dropdown-content {
  padding: 0.5rem 0;
  background-color: #fff;
  flex-direction: column;
  position: absolute;
  top: calc(3.875rem + 2px);
  left: -0.5rem;
  display: none;
  z-index: 1;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#dropdown-content > a {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

#dropdown-content > a:hover {
  opacity: 0.5;
}

#dropdown-content > a:last-child {
  margin-bottom: 0;
}

#dropdown:hover > #dropdown-content {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

#container {
  display: flex;
  position: relative;
}

#count {
  position: absolute;
  right: 0;
  top: 0;
}

#hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.button_close1 {
  padding: 1px 6px;
  display: none;
}

.ticker {
  display: flex;
  overflow-x: hidden;
}

.ticker_list {
  display: flex;
  animation: ticker 100s infinite linear;
  align-items: center;
}

.ticker:hover .ticker_list {
  animation-play-state: paused;
}

.ticker_item {
  margin-right: 20px;
  width: 15vw;
}

.ticker_item img {
  margin-right: 20px;
  width: 100%;
}

.mybtn:hover {
  color: grey;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

@-moz-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@-o-keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 1000px) {
  .link {
    translate: 100%;
    right: 0;
    top: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-color: #fff;
    transition: translate 0.5s ease-in-out;
    font-size: 1.25rem;
  }

  .link > a {
    margin-right: 0rem;
    padding: 1rem 0;
  }

  .link > #dropdown {
    margin-right: 0rem;
    padding: 1rem 0;
  }

  #hamburger {
    display: block;
  }

  #dropdown:hover > #dropdown-content {
    display: none;
  }

  .button_close1 {
    display: block;
    align-self: flex-end;
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
  }
  .ticker_item {
    margin-right: 20px;
    width: 20vw;
  }
}
.nav_active {
  translate: 0%;
}

/*luggage*/

aside {
  width: 15%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease-in;
}

aside::-webkit-scrollbar {
  width: 5px;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

aside::-webkit-scrollbar-thumb {
  background: rgb(171, 169, 169);
  border-radius: 10px;
}

#function {
  display: flex;
  margin-left: auto;
}

#function input {
  margin-right: 1rem;
}
.kid input {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}
.kid::after {
  content: none;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion-body label {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.accordion-body label input {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.content {
  width: 85%;
  display: flex;
  flex-direction: column;
}

#function {
  display: flex;
  align-items: center;
}

#search {
  height: 2rem;
}

#search::placeholder {
  padding-left: 0.5rem;
}

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem 0;
}

#card {
  margin-left: 1rem;
  width: calc((100% - 5rem) / 5);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  height: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.25rem;
  background-color: #fff;
  cursor: pointer;
}

#card:hover {
  translate: 0 -0.5rem;
}

#thumbnail {
  max-width: 100%;
  height: calc((100% - 0.5rem) * 11 / 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-img {
  width: 50%;
  height: 95%;
}

#card-body {
  display: flex;
  flex-direction: column;
  height: calc((100% - 0.5rem) / 2);
}

.star-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0.25rem;
}

#current-price {
  font-weight: bold;
}

#before-price {
  text-decoration: line-through;
  font-weight: 100;
}

.star-ratings {
  color: #ccc;
  font-size: 1.5rem;
  position: relative;
}

.fill-ratings {
  color: #e7711b;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.close {
  padding: 1px 6px;
}

#popup_content {
  display: flex;
  padding: 1rem;
}

#popup_img {
  flex: 1;
  margin-right: 1.5rem;
}

#popup_img #popup_thumbnail {
  width: 100%;
  height: 25rem;
  margin-bottom: 1rem;
}

#popup_img div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#galery img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5%;
}

#popup_info {
  flex: 2;
}

.popup_star-row {
  display: flex;
  align-items: center;
}

.popup_star-row span {
  margin-left: 1rem;
}

#popup_price {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#popup_price #current-price {
  font-size: 1.5rem;
}

#properties > div {
  display: flex;
  margin-bottom: 0.25rem;
}

#properties > div span {
  width: 3rem;
  margin-right: 1rem;
}

#more {
  margin-top: 1rem;
}

#feedbackBox {
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

#show_name {
  font-weight: 500;
}

.title {
  font-weight: 500;
}

.modal-footer {
  flex-direction: column;
  align-items: flex-start;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#first {
  display: flex;
  align-items: center;
}

#nameInput,
#feedback {
  border-top-style: solid;
}

#first,
#feedback,
#submit {
  margin-top: 1rem;
}

#second {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.star-wrapper {
  direction: rtl;
}

.star-wrapper i:hover {
  color: gold;
  transform: scale(1.3);
  transition: all 0.5s;
}

.s1:hover ~ i {
  color: gold;
}

.s2:hover ~ i {
  color: gold;
}

.s3:hover ~ i {
  color: gold;
}

.s4:hover ~ i {
  color: gold;
}

.s5:hover ~ i {
  color: gold;
}

#nameInput {
  padding: 0.5rem;
}

#nameInput:invalid {
  border-color: #900;
  background-color: #fdd;
}

#nameInput:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

textarea {
  resize: none;
  width: 100%;
  padding: 0.5rem;
}

.button_close {
  padding: 1px 6px;
  display: none;
}

#filter {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* #current {
  color: #0d6efd;
} */
@media only screen and (max-width: 1200px) {
  aside {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
  }
  #filter {
    display: block;
  }
  .dropdown {
    margin-right: 1rem;
  }
  .content {
    width: 100%;
  }
  #card {
    margin-left: 0;
    margin-right: 1rem;
    width: calc((100% - 3rem) / 4);
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0.25rem;
  }
  #card:nth-child(4n) {
    margin-right: 0;
  }
  #popup_img {
    flex: 2;
  }
  .button_close {
    display: block;
    align-self: flex-end;
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  #popup_content {
    flex-direction: column;
  }

  #popup_img {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  #card {
    margin-left: 0;
    margin-right: 1rem;
    width: calc((100% - 2rem) / 3);
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0.25rem;
  }

  #card:nth-child(4n) {
    margin-right: 1rem;
  }

  #card:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  #content {
    width: 100%;
  }
  #card {
    margin-right: 1rem;
    width: calc((100% - 1rem) / 2);
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0.25rem;
  }
  #card:nth-child(3n) {
    margin-right: 1rem;
  }

  #card:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 400px) {
  #name {
    -webkit-line-clamp: 2;
  }
}

.aside_active {
  width: 100%;
  height: auto;
  opacity: 1;
  z-index: 4;
}

.hidden {
  display: none;
}

/* home*/
h1 {
  font-weight: 500;
  font-size: 2rem;
}

.row {
  margin-bottom: 3rem;
}

#carouselExampleIndicators {
  margin-bottom: 3rem;
}
.carousel-inner img {
  width: 100%;
  height: 80%;
}

#home-content {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

#home-card {
  min-width: 15rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  height: 20rem;
  padding: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#home-card:hover {
  translate: 0 -0.5rem;
}

#home-card-img {
  max-width: 80%;
  height: calc((100% - 0.5rem) / 2);
}

#home-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc((100% - 0.5rem) / 2);
}

.star-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#current-price {
  font-weight: bold;
}

#before-price {
  text-decoration: line-through;
  font-weight: 100;
}

.star-ratings {
  color: #ccc;
  font-size: 1.5rem;
  position: relative;
}

.fill-ratings {
  color: #e7711b;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#name {
  text-align: center;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0.25rem;
}

#card:last-child {
  margin-right: 0;
}

#before-price {
  text-decoration: line-through;
}

.close {
  padding: 1px 6px;
}

#popup_content {
  display: flex;
  padding: 1rem;
}

#popup_img {
  flex: 1;
  margin-right: 1.5rem;
}

#popup_img #popup_thumbnail {
  width: 100%;
  height: 25rem;
  margin-bottom: 1rem;
}

#popup_img div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#galery img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5%;
}

#popup_info {
  flex: 2;
}

.popup_star-row {
  display: flex;
  align-items: center;
}

.popup_star-row span {
  margin-left: 1rem;
}

#popup_price {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#popup_price #current-price {
  font-size: 1.5rem;
}

#properties > div {
  display: flex;
  margin-bottom: 0.25rem;
}

#properties > div span {
  width: 3rem;
  margin-right: 1rem;
}

#more {
  margin-top: 1rem;
}

#feedbackBox {
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

#show_name {
  font-weight: 500;
}

.title {
  font-weight: 500;
}

.modal-footer {
  flex-direction: column;
  align-items: flex-start;
}

.star-wrapper {
  direction: rtl;
}

.star-wrapper i:hover {
  color: gold;
  transform: scale(1.3);
  transition: all 0.5s;
}

.s1:hover ~ i {
  color: gold;
}

.s2:hover ~ i {
  color: gold;
}

.s3:hover ~ i {
  color: gold;
}

.s4:hover ~ i {
  color: gold;
}

.s5:hover ~ i {
  color: gold;
}

#nameInput {
  padding: 0.5rem;
}

textarea {
  resize: none;
  width: 100%;
  padding: 0.5rem;
}

#home-content::-webkit-scrollbar {
  height: 10px;
}

#home-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

#home-content::-webkit-scrollbar-thumb {
  background: rgb(171, 169, 169);
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  #popup_img {
    flex: 2;
  }
}

@media only screen and (max-width: 1000px) {
  #popup_content {
    flex-direction: column;
  }

  #popup_img {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}

/* men */
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

.avatar img:hover {
  translate: 0 -1rem;
}

@media only screen and (max-width: 768px) {
  .avatar {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  #name {
    -webkit-line-clamp: 2;
  }
}
