#container {
  position: relative;
}

aside {
  width: 15%;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease-in;
}

aside::-webkit-scrollbar {
  width: 5px;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

aside::-webkit-scrollbar-thumb {
  background: rgb(171, 169, 169);
  border-radius: 10px;
}

#function {
  display: flex;
  margin-left: auto;
}

#function input {
  margin-right: 1rem;
}
.kid input {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}
.kid::after {
  content: none;
}

.accordion-body {
  display: flex;
  flex-direction: column;
}

.accordion-body label {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.accordion-body label input {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

#content {
  width: 85%;
  display: flex;
  flex-direction: column;
}

#function {
  display: flex;
  align-items: center;
}

#search {
  height: 2rem;
}

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1rem 0;
}

#card {
  margin-left: 1rem;
  width: calc((100% - 5rem) / 5);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  height: 20rem;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.25rem;
  background-color: #fff;
  cursor: pointer;
}

#thumbnail {
  max-width: 100%;
  height: calc((100% - 0.5rem) * 11 / 20);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-img {
  width: 50%;
  height: 95%;
}

#card-body {
  display: flex;
  flex-direction: column;
  height: calc((100% - 0.5rem) / 2);
}

.star-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0.25rem;
}

#current-price {
  font-weight: bold;
}

#before-price {
  text-decoration: line-through;
  font-weight: 100;
}

.star-ratings {
  color: #ccc;
  font-size: 1.5rem;
  position: relative;
}

.fill-ratings {
  color: #e7711b;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.close {
  padding: 1px 6px;
}

#popup_content {
  display: flex;
  padding: 1rem;
}

#popup_img {
  flex: 1;
  margin-right: 1.5rem;
}

#popup_img #popup_thumbnail {
  width: 100%;
  height: 25rem;
  margin-bottom: 1rem;
}

#popup_img div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#galery img {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5%;
}

#popup_info {
  flex: 2;
}

.popup_star-row {
  display: flex;
  align-items: center;
}

.popup_star-row span {
  margin-left: 1rem;
}

#popup_price {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#popup_price #current-price {
  font-size: 1.5rem;
}

#properties > div {
  display: flex;
  margin-bottom: 0.25rem;
}

#properties > div span {
  width: 3rem;
  margin-right: 1rem;
}

#more {
  margin-top: 1rem;
}

#feedbackBox {
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

#show_name {
  font-weight: 500;
}

.title {
  font-weight: 500;
}

.modal-footer {
  flex-direction: column;
  align-items: flex-start;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#first {
  display: flex;
  align-items: center;
}

#nameInput,
#feedback {
  border-top-style: solid;
}

#first,
#feedback,
#submit {
  margin-top: 1rem;
}

#second {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.star-wrapper {
  direction: rtl;
}

.star-wrapper i:hover {
  color: gold;
  transform: scale(1.3);
  transition: all 0.5s;
}

.s1:hover ~ i {
  color: gold;
}

.s2:hover ~ i {
  color: gold;
}

.s3:hover ~ i {
  color: gold;
}

.s4:hover ~ i {
  color: gold;
}

.s5:hover ~ i {
  color: gold;
}

#nameInput {
  padding: 0.5rem;
  width: 15rem;
}

#nameInput:invalid {
  border-color: #900;
  background-color: #fdd;
}

#nameInput:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

textarea {
  resize: none;
  width: 100%;
  padding: 0.5rem;
}

.button_close {
  padding: 1px 6px;
  display: none;
}

#filter {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* #current {
  color: #0d6efd;
} */
@media only screen and (max-width: 1200px) {
  aside {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: -1;
    height: auto;
  }
  #filter {
    display: block;
  }
  .dropdown {
    margin-right: 1rem;
  }
  #content {
    width: 100%;
  }
  #card {
    margin-left: 0;
    margin-right: 1rem;
    width: calc((100% - 3rem) / 4);
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0.25rem;
  }
  #card:nth-child(4n) {
    margin-right: 0;
  }
  #popup_img {
    flex: 2;
  }
  .button_close {
    display: block;
    align-self: flex-end;
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1000px) {
  #popup_content {
    flex-direction: column;
  }

  #popup_img {
    margin-bottom: 1.5rem;
    margin-right: 0;
  }
}

@media only screen and (max-width: 768px) {
  #content {
    width: 100%;
  }
  #card {
    margin-left: 0;
    margin-right: 1rem;
    width: calc((100% - 2rem) / 3);
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0.25rem;
  }

  #card:nth-child(4n) {
    margin-right: 1rem;
  }

  #card:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  #content {
    width: 100%;
  }
  #card {
    margin-right: 1rem;
    width: calc((100% - 1rem) / 2);
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0.25rem;
  }
  #card:nth-child(3n) {
    margin-right: 1rem;
  }

  #card:nth-child(2n) {
    margin-right: 0;
  }
}

.aside_active {
  width: 100%;
  opacity: 1;
  z-index: 4;
}

.hidden {
  display: none;
}
