#container {
  height: 80vh;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* #container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
} */

@media only screen and (max-width: 768px) {
  #container {
    flex-direction: column;
    height: auto;
  }

  /* #container > a {
    margin-bottom: 2rem;
  } */
}
