<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #container {
        height: 80vh;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }

      @media only screen and (max-width: 768px) {
        #container {
          flex-direction: column;
          height: auto;
        }
      }
    </style>
  </head>

  <body>
    <a href="#!/luggage" class="avatar" ng-click="clickElement('womenLuggage')"
      ><img src="img\avatar\luggage.png" alt=""
    /></a>
    <a
      href="#!/briefcases"
      class="avatar"
      ng-click="clickElement('womenBriefcases')"
      ><img src="img\avatar\briefcase.png" alt=""
    /></a>
    <a
      href="#!/backpacks"
      class="avatar"
      ng-click="clickElement('womenBackpacks')"
      ><img src="img\avatar\bag.png" alt="" />
    </a>
    <a href="#!/bags" class="avatar" ng-click="clickElement('womenBags')"
      ><img src="img\avatar\handbag.png" alt="" />
    </a>
    <a
      href="#!/accessories"
      class="avatar"
      ng-click="clickElement('womenAccessories')"
      ><img src="img\avatar\accessories.png" alt="" />
    </a>
  </body>
</html>
